<div id="wrapper" class="container">
    <div class="jumbotron jumbotron-fluid shadow-sm">
        <div id="header">
            <h1>What's in the News?</h1>
            <h2>Mongo Scraper</h2>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-primary shadow-sm">
        <ul class="nav ml-auto">
            <li><a href="/scrape"><button class="btn btn-light">Scrape New
                        Articles</button></a></li>
        </ul>
    </nav>
    <div id="article-section" class="shadow-lg">
        <hr>
        <center>
            <h2>Current Top World News Articles</h2>
        </center>
        <hr>
        <div id="articles">
            <center><div id="nothing">There's Nothing Here! <br>Click the "Scrape New Articles" Button Above!</div>
            </center>
        </div>

    </div>